<header class="sticky-top " style="background-color: rgba(14, 14, 92, 0.13);">
    <div class="container-fluid p-4">
        <div class="container">
            <div class="row">
                <div class="col-2" style="font-size: 30px;">
                    Znft MarketPlace
                </div>
                <div class="col-4">
                    Col2
                </div>
                <div class="col-6">
                    Col3
                </div>
            </div>
        </div>
    </div>
</header>